{
  "presets": ["babel-preset-expo"],
  "plugins": ["babel-plugin-inline-import-graphql-ast"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}
